{% extends 'base.html' %}
{% load static %}

{% block title %}Przegląd kursów{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/course_overview.css' %}">
{% endblock %}

{% block content %}
<h1>Przegląd kursów</h1>
<div class="filters">
    <input type="text" placeholder="KOD" aria-label="Wprowadź kod kursu" id="course-code">
    <button class="btn-primary" aria-label="Dołącz do kursu" id="join-course">Dołącz do kursu</button>
</div>
<div class="course-grid">
    {% for course in courses %}
    <a href="/course/{{ course.id }}" class="course-card" aria-label="Zobacz szczegóły kursu: {{ course.name }}">
        <div class="course-image" style="background-image: url('{{ course.image.url }}');" role="img" aria-label="{{ course.name }}"></div>
        <div class="course-info">
            <h2 class="course-title">{{ course.name }}</h2>
        </div>
        <div class="course-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14M12 5l7 7-7 7"/>
            </svg>
        </div>
    </a>
    {% endfor %}
    <a href="/course/create_course/" class="course-card" aria-label="Zobacz szczegóły kursu: Utwórz">
            <div class="course-image" style="background-image: url('https://pngtree.com/so/plus');" role="img" aria-label="Utwórz"></div>
            <div class="course-info">
                <h2 class="course-title">Uwórz swój własny kurs!</h2>
                <div class="course-category">Wszystko</div>
            </div>
            <div class="course-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14M12 5l7 7-7 7"/>
                </svg>
            </div>
        </a>
</div>
    <div id="Kontakt" >
    <h2>Kontakt</h2>
        <div class="contact-list">
            <a href="https://github.com/NimVrod/StudnetDashboard">Github</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/course_overview.js' %}"></script>
{% endblock %}